html, body {
	height: 100%;
  text-align: center;
}

.contact-info {
    text-align: center;
}

.row {
   overflow: hidden;
}

.img-circle {
    width:  200px;
    height: 200px;
}
a:hover {text-decoration: none;}

.bg-1 { 
  background-color: #eee;
  padding-bottom: 20px;
}

.bg-0 { 
    background-color: #ddd;
    padding-bottom: 20px;
}
