html, body {
	height: 100%;
  text-align: center;
  overflow-y: scroll;
}

a:hover {
  text-decoration: none;
}

.contact-info {
    text-align: center;
}

.row {
   overflow: hidden;
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  height: 300px;
  width: 300px;
  margin-bottom: 10px;
}

.thumbnail:hover  {
  background-color: lightgray;
}

.project-thumbnail {
  color: gray;
}

.bg-grey {
  background-color: #f6f6f6;
}
